aiogram==3.0.0
aiohttp==3.8.5
aiofiles==23.2.1
Flask==2.3.3
fake-useragent==1.4.0
cloudscraper==1.2.71
python-whois==0.8.0
dnspython==2.4.2
pyOpenSSL==23.2.0
cryptography==41.0.5
requests==2.31.0
beautifulsoup4==4.12.2
lxml==4.9.3
certifi==2023.7.22
charset-normalizer==3.3.2
idna==3.4
urllib3==2.0.7
